@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Pontano+Sans&family=Roboto+Mono:wght@300&family=Ubuntu&display=swap');

*{
	margin:0;
	padding:0;
}

#background-img{
	height:100vh;
	width:100vw;
}

#container{
	position:absolute;
	top:10vh;
	margin:0px 34px;
	height:500px;
	width:285px;
	background-color:white;
	border-radius:20px;
	border: 4px solid grey;
}

#heading{
	height:40px;
	margin: 20px;
	display:flex;
	flex-direction:row;
	justify-content:center;
}

.line{
	border-right:3px solid black;
	padding-right:5px;
	font-size:30px;
	font-family: 'Roboto Mono', monospace;
	font-family: 'Ubuntu', sans-serif;
	animation-name: blinkCurser;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

@keyframes blinkCurser{
 from{
   border-right-color: transparent;
 }
 
 50%{
   border-right-color: black;
 }
 
 to{
   border-right-color: transparent;
 }
}

main{
	border:2px solid black;
	border-radius:10px;
	height: 150px;
	margin: 0px 5vw;
}

#submitImage{
	margin: 20px 15px;
}

#submitImage p{
 font-size:20px;
 font-family: 'Pontano Sans', sans-serif;
 margin-bottom:40px;
 margin-left:20px;
}

main label{
	font-family: 'Open Sans', sans-serif;
	font-family: 'Pontano Sans', sans-serif;
	font-family: 'Roboto Mono', monospace;
	font-family: 'Ubuntu', sans-serif;
	font-size:15px;
	margin:30px;
	cursor:pointer;
	background-color:green;
	padding:10px 30px;
	border-radius:20px;
}

#uploadImage{
	display: none;
}

#outputDiv{
 height:220px;
 margin:0px 10px;
 width:225px;
 position:absolute;
 top: 40vh;
}

#output{
 height:222px;
 width:227px;
}

#outputFrame{
 height:222px;
 width:227px;
 position:absolute;
 top:0;
 left:0;
}

#uploadedBox{
	border-radius:10px;
	border:2px solid black;
	height:450px;
	width:320px;
	background-color:white;
	position:absolute;
	top:12vh;
	left:5vw;
	display:none;
}

#uploadedBox p{
 font-family: 'Open Sans', sans-serif;
	font-family: 'Pontano Sans', sans-serif;
	font-family: 'Roboto Mono', monospace;
	font-family: 'Ubuntu', sans-serif;
	font-size:30px;
	margin:30px 48px;
}

#cross{
 position:absolute;
 top:20px;
 right:10px;
 height:20px;
 width:20px;
}

#uploadedDiv{
 height:220px;
 margin:0px 50px;
 width:225px;
 position:absolute;
 top:80px;
}

#upload{
 height:220px;
 width:225px;
}

#frame{
 height:222px;
 width:227px;
 position:absolute;
 top:0;
}

#frameOption{
 position:absolute;
 margin:0px 20px;
 bottom:80px;
}

.options{
 height:20px;
 width:20px;
 border-radius:10px;
 border:1px solid black;
 margin:10px 10px;
 padding:5px;
}

#submit{
 font-family: 'Open Sans', sans-serif;
	font-family: 'Pontano Sans', sans-serif;
	font-family: 'Roboto Mono', monospace;
	font-family: 'Ubuntu', sans-serif;
	font-size:15px;
	margin:30px;
	cursor:pointer;
	background-color:green;
	padding:10px 30px;
	border-radius:20px;
	position:absolute;
	bottom:0;
	left:20vw;
	border:2px solid black;
}
